.overlay--about {
  height: 855px;
  background-image: url('../images/about-us.webp');
  background-size: cover;
  background-position: center;
}

.home {
  &__about{
    padding: 50px 0;

    .row {
      //border: 2px solid black;
      margin: 0 auto;
      flex-wrap: nowrap;  
    }

    .col-4{
      object-fit: cover;
      padding: 0;
    }
    
    .col-8{
      object-fit: cover;
      padding: 0;
    }
  }
}

.home .about__carousel {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  padding: 0;
  max-width: 1440px;
  width: 90vw;
  height: 440px;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 100;
  font-style: italic;

  img {
    height: 350px;
  }

  .cell__opinion {
    h4{
      font-style: normal;
      font-weight: 400;
      font-size: larger;
      margin-top: 0;

      span {
        font-weight: 700;
      }
    }

    p {
      margin-bottom: 0;
      max-width: fit-content;
    }
  }
}
