.overlay--main {
  height: 1007px;
  background-image: url('../images/background.webp');
  background-size: 110%;
  background-position: right top;
}

.navbar {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 599px;
  width: 100%;

  &__brand {
    text-transform: uppercase;
    font-family: $font-black;
    text-align: left;
  }

  &__logo {
    p:nth-of-type(1) {
      margin-top: 43.3px;
      margin-bottom: 15.1px;
      font-size: 36px;
      letter-spacing: 11px;
    }

    p:nth-of-type(2) {
      margin: 0;
      font-size: 16px;
      letter-spacing: 5px;
      white-space: nowrap;
    }
  }

  &__nav {
    padding: 0;
    width: 299px;
    font-size: 15px;
    margin-top: 68px;

    ul {
      padding: 0;
      margin: 0 auto;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
            
    }

    li {
      display: inline-block;
    }

    .nav__link{
      opacity: 0.502;
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 17px;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-light;
      font-family: $font-semibold;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.header {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  top: 342px;
  
  &__title {
    //border:1px solid white;
    width: 1350px;
    position: relative;

    &::after {
      content: "";
      width: 277px;
      height: 6px;
      background-color: $color-main;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,0%);
      top: 250px;
    }
  }

  h1 {
    margin: 0;
    color: $color-main;
    font-size: 100px;
    letter-spacing: 20px;
    line-height: 100px;
    text-transform: uppercase;
    font-family: $font-bold;
    text-align: left;
  }

  h1:nth-of-type(2){
    text-align: right;
  }

  &__discover {
    margin-top: 320px;
    text-align: center;
    font-size: 34px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: $color-light;
    font-family: $font-regular;

    p:nth-of-type(1){
      margin: 0;
      margin-bottom: 30px;
    }

    .icon {
      margin: 0 auto;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
    }
  }
}
