/*Product and contact*/
@media (min-width: 768px) and (max-width: 1204px) {
  
  /*about*/
  .overlay--about {
    background-size: cover;
    height: 450px;

  }

  .home {
    &__about {
      padding: 0;
    }
  }

  .about-text {
    top: 30%;
    max-width: 768px;
    width: 90vw;
    height: 220px;
    font-size: 22px;

    img {
      height: 220px;
    }
  }

  /*global*/
  .footer {
    padding: 0;
  }
}

@media (max-width:767px){
  /* layout */
  .container{
    max-width: auto;
  }
  /* layout - Bootstrap */
  .row {
    flex-direction: column;  
  }

  /*about*/
  .overlay--about {
    background-size: cover;
    height: 300px;

  }

  .home {
    &__about {
      padding: 0;
    }
  }

  .about-text {
    top: 25%;
    max-width: 768px;
    width: 90vw;
    height: 220px;
    font-size: 9px;
    text-align: center;

    .row {
      flex-direction: column;
      align-items: center;
    }
    
    img {
      height: 100px;
      margin: 0 auto;
    }

    .opinion {
      margin-top: 10px;
    }
  }

  /*global*/
  .footer {
    scale: 0.7;
    padding: 0;

    p{
      margin : 0 auto;
    }
  }
}
